/* .signature-container {
    
    border-style: dashed;
    border-width: 1px;
    margin-bottom: 20px;
    background-color: coral;
    height: 300px;
    
    
} */
h4{
    color: rgb(149, 135, 231);
}
.signature-image{
    background-color: white;
    width: 60%;
}
.container{
    background-color: white;
}
#body{
    text-align: center;
    width: 60%;
    height: 100%;
}
.buttons {
    float: center;
    /* button {
        margin-right: 10px;
        padding: 10px;
        background-color: dodgerblue;
        color: white;
        border-radius: 5px;
    } */
}
