<br><br><br>
<div id="body" class="container">
<div class="card bg-light" >
    <div class="card-body">
        <h2 id="headStyle" class="card-title">About Us</h2>
        <p><i>A Reconcile Information on safety, prerequisites to visit feasible destinations in India.</i></p>
        <p class="text-danger"><strong>Please follow all the guidelines related to Covid19</strong></p>
        <br>
        <h3 id="headStyle">! Disclaimer !</h3>
        <p>The prediction is based on the data received from the Govt site. 
            This site is not resposible for delayed update on the covid stats. 
        </p>
        <h3 id="headStyle">Resources</h3>
        <p>Data for Covid19 taken from:- <ins>https://api.covid19india.org/ </ins></p>

    </div>
</div>
</div>