#body{
    /* width: 60%; */
    text-align: center;
    width: 60%;
    /* align-items: center;
    align-self: center; */
}
.card{
    text-align: center;
    
}
#headStyle{
    color: rgb(30, 15, 116);
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#cardimage{
    height: 350px;
    width: 60%;
}
