<br>
<div id="body" class="container">
<div class="card bg-light" >
    
    <div class="card-body">
        
        
        <h2 id = "headStyle" class="card-title">!! High Risk !!</h2>
        
        <img class="card-img-top" src="/assets/stay-home.jpg" id="cardimage">
        
        <p><li>Kindly refrain going to places with high increase in covid cases. </li>
            <li>Be vaccinated</li>
            <li>Stay indoors</li>
        </p>
        <button id="btnid" class="btn btn-danger" (click)="back()">Go To Dashboard</button>
    </div>
</div>
</div>