#body{
    /* color: white; */
    background-color: white;
    width: 80%;
    text-align: center;
}
#table{
    width: 100%;
}
/* .mat-cell {
    font-size: 14px;
    min-height: 48px;
    text-align: center;
    border-right: 1px solid black;
} */
/* #theadStyle{
    background-color: rgb(31, 14, 129);
    color: white;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
} */
.mat-header-cell{
    background-color: rgb(31, 14, 129);
    color: white;
    font-weight: 900;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}
.mat-sort-header-arrow{
    color: white !important;
    opacity: 1 !important;
}
#title{
    color: rgb(30, 15, 116);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    font-size: x-large;
    padding-top: 10px;
}
#scrollText{
    direction: "left";
  height: "40px";
  color: rgb(218, 21, 21);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: large;
  font-weight: bold;
  position: relative;
  padding-top: 13px;
  /* top: 25px; */
}

.low{
    /* background-color: rgb(12, 187, 12); */
    background-color: rgb(12, 206, 12);
    color: black;
    
}
.medium{ 
    background-color: rgb(255, 203, 124);
    /* background-color: rgb(253, 158, 80); */
    /* color: white; */
}
.high{
    /* background-color: rgb(189, 25, 25); */
    background-color: rgb(243, 59, 59);
    color: white;
}
.filled-high {
    padding: 1px 10px;
    border-radius: 100%;
    background-color: rgb(243, 59, 59);
  } 
.filled-medium {
    padding: 1px 10px;
    border-radius: 100%;
    background-color: rgb(255, 203, 124);
} 
.filled-low {
    padding: 1px 10px;
    border-radius: 100%;
    background-color: rgb(12, 206, 12);
}
#colorInd{
    width: 30%;
    position: relative;
    right: -115px;
}
